<section class="about container">
    <h1 class="text-center mb-5">About</h1>
   
    <p>
        The courses are available you can apply for any frontend courses and fill the details.
        Here in this you can fill the details of the user along with the date of joining and can learn and 
        apply for the course whichever you want to.
    </p>
 
    <br><br><br>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
 
</section>
<br><br>
